<main class="people-index">
  <header class="people-index__header">
    <h1>Imported characters</h1>
    <%= link_to "Import CSV", import_path, class: "people-index__import-link" %>
  </header>

  <%= form_with url: people_path, method: :get, local: true, class: "people-index__search" do |f| %>
    <%= f.hidden_field :sort, value: params[:sort] %>
    <%= f.hidden_field :direction, value: params[:direction] %>
    <%= f.search_field :q, value: search_param, placeholder: "Search by name, species, gender, weapon, vehicle, location, affiliation…", class: "people-index__search-input" %>
    <%= f.submit "Search", class: "people-index__search-submit" %>
  <% end %>

  <p class="people-index__count">
    <%= @total_count %> <%= "result".pluralize(@total_count) %>
    <% if search_param.present? %>
      for “<%= search_param %>”
    <% end %>
  </p>

  <div class="people-index__table-wrap">
    <table class="people-index__table">
      <thead>
        <tr>
          <th><%= sortable_header "first_name", "First name" %></th>
          <th><%= sortable_header "last_name", "Last name" %></th>
          <th><%= sortable_header "species", "Species" %></th>
          <th><%= sortable_header "gender", "Gender" %></th>
          <th><%= sortable_header "weapon", "Weapon" %></th>
          <th><%= sortable_header "vehicle", "Vehicle" %></th>
          <th>Locations</th>
          <th>Affiliations</th>
        </tr>
      </thead>
      <tbody>
        <% if @people.any? %>
          <% @people.each do |person| %>
            <tr>
              <td><%= person.first_name %></td>
              <td><%= person.last_name %></td>
              <td><%= person.species %></td>
              <td><%= person.gender %></td>
              <td><%= person.weapon %></td>
              <td><%= person.vehicle %></td>
              <td><%= person.locations.map(&:name).join(", ") %></td>
              <td><%= person.affiliations.map(&:name).join(", ") %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="8" class="people-index__empty">No characters found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if total_pages > 1 %>
    <nav class="people-index__pagination" aria-label="Pagination">
      <%= link_to "Previous", people_path(q: search_param, sort: sort_column, direction: sort_direction, page: current_page - 1), class: "people-index__page-link", style: (current_page <= 1 ? "visibility: hidden" : nil) %>
      <span class="people-index__page-info">
        Page <%= current_page %> of <%= total_pages %>
      </span>
      <%= link_to "Next", people_path(q: search_param, sort: sort_column, direction: sort_direction, page: current_page + 1), class: "people-index__page-link", style: (current_page >= total_pages ? "visibility: hidden" : nil) %>
    </nav>
  <% end %>
</main>
